.header {
    background-color: lumx-color-variant('primary', 'N');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.header-title {
    color: white;
}